{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    <div class="card">
        <div class="search">
            <input type="text" name="city" id="" placeholder="Enter city name" spellcheck="false">
            <button><img src="static/search.png" alt="search"></button>
        </div>
    </form>
        <!-- <div class="error"><p>Invalid City Name</p></div> -->
        <div class="weather">
            <img src="http://openweathermap.org/img/w/{{icon}}.png" class="weather-icon" name="weather-icon" alt="{{desc}}">
            <h1 class="temp">{{temperature}}</h1>  
            <h2 class="city">{{city}}</h2>
            <div class="details">
                <div class="col">
                    <img src="static/humidity.png">
                    <div><p class="humidity">{{humidity}}</p>
                        <p>Humidity</p>
                    </div>   
                </div> 
                <div class="col">
                    <img src="static/wind.png">
                    <div><p class="wind">{{wind}}</p>
                        <p>wind speed</p>
                        <p>{{icon}}</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>  
</body>
</html>   



